<div id="about">
<div class='row header text-center' id='about_image'>
  <div class='col-md-12'>
    <div class="thumbnail text-center">
    <%= image_tag 'about.png', class: "img-responsive"%>
      <div class="caption text-center">
        <h1 class="text-center">About</h1>
      </div>
    </div>
  </div>
</div>

<div class='row' id='about_desc'>
<br><br><br><br>
  <div class="col-sm-1 col-md-1"> &nbsp</div>
  <div class="col-sm-7 col-md-7" id=desc>
  <h2 class="text-center">From Fat To Skinny</h2>
  <p class="text-center">
  "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
  qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
  adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
  Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
  consequatur?"
  </p>
  </div>
  <div class="col-sm-3 col-md-3">
  <%= image_tag 'thin.jpg', class: "img-responsive"%>
  </div>
  <div class="col-sm-1 col-md-1">&nbsp</div>
</div>
<br><br><br><br>
</div>

<div id="shows">
  <div class='row' id='schedule'>
  <div class="col-sm-1 col-md-1">&nbsp</div>
  <div class="col-md-5">
    <%= link_to(image_tag('schedule.png'), download_pdf_path)%>
  </div>
  <div class="col-md-5">
    <br><br><br>
    <h2 class="text-center">Upcoming Shows</h2>
    <br><br><br>
    <table class="table borderless">
      <thead>
        <tr>
          <th class='col-md-4'>Name</th>
          <th class='col-md-1'>Start</th>
          <th class='col-md-1'>End</th>
          <th class='col-md-3'>Location</th>
          <th class='col-md-3'>Venue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MayFest</td>
          <td>05/04</td>
          <td>05/07</td>
          <td>Ocean City, MD</td>
          <td>Boardwalk</td>
        </tr>
        <tr>
          <td>Port Neches River Fest</td>
          <td>05/05</td>
          <td>05/07</td>
          <td>Port Neches, TX</td>
          <td>Port Neches Riverfront</td>
        </tr>
        <tr>
          <td>Mother Earth News Fair</td>
          <td>05/06</td>
          <td>05/07</td>
          <td>Fletcher, NC</td>
          <td>NC Fairgrounds</td>
        </tr>
        <tr>
          <td>OUT RALEIGH</td>
          <td>05/06</td>
          <td>05/06</td>
          <td>Rahleigh, NC</td>
          <td>Fayetville Street</td>
        </tr>
        <tr>
          <td>Sowa Open Market</td>
          <td>05/06</td>
          <td>10/29</td>
          <td>Boston, MA</td>
          <td>450 Harrison Ave</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-1 col-md-1">&nbsp</div>
</div>
</div>

<div id='reviews'>
<br><br><br>
<h2 class='text-center'>Press Reviews</h2>
<div class='row' id='review1'>
  <br>
  <div class="col-sm-1 col-md-1">&nbsp</div>
  <div class="col-md-7">
    <br>
    <p>
    'Trib Tested: Big Skinny Wallet by Rege Behe and John C. Schisler on August 3, 2009<br>
    My old wallet, Big Brown, survived dips in the Atlantic Ocean and Lake Erie,
    and being trod on in New York and Toronto. Reduced to a mottled shade of tan with fringes of leathers,
    it had served long -- about a decade -- and well, but deserved to be put on a comfortable shelf to live out its last days.
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag 'pitt.png', class: "img-responsive"%>
  </div>
  <div class="col-sm-1 col-md-1">&nbsp</div>
</div>
<div class='row' id='review2'>
  <br><br>
  <div class="col-sm-1 col-md-1">&nbsp</div>
  <div class="col-md-3">
    <%= image_tag 'boston.png', class: "img-responsive"%>
  </div>
  <div class="col-md-7">
    <br>
    <p>
    The Skinny on a Thin Wallet Man by Jennifer Heldt Powell on May 31, 2009<br>
    Two years ago I profiled an entrepreneur who built a small business around a thin wallet he designed for men.
    At that time, he said he had big expansion plans that included a women’s line.
    A lot can happen in two years, especially when the economy tanks. Dreams and hopes get put on the back burner
    as small business owners struggle just to stay afloat. Plans get derailed as customers run out of money.
    </p>
  </div>
  <div class="col-sm-1 col-md-1">&nbsp</div>
</div>
<div class='row' id='review3'>
  <div class="col-sm-1 col-md-1">&nbsp</div>
  <div class="col-md-7">
    <br><br><br>
    <p>
    Pro tips for staying comfortable and alert on your long summer road trip by DeAnn Rossetti on July 11, 2010<br>
    ...Tip 4: Dress for success
    Manjit Bains, who drove a cab for 20 years before becoming a Metro bus driver,
    recommends supportive shoes and loose, breathable clothing.
    "Stay cool and comfortable, and remember your sunscreen and sunglasses," he says.
    "Crack open the window, and keep the kids and the dog secured in the back seat of the vehicle. Otherwise, they can distract you and cause accidents."
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag 'seattle.png', class: "img-responsive"%>
  </div>
  <div class="col-sm-1 col-md-1">&nbsp</div>
</div>

</div>
