<div class="product-container">


<br/>
<h1 id="notice" class="text-center"><%= notice %></h1>
<br/>
<h1 class="text-center">Cart</h1>

<% if !(@ordered_items.empty?) %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <!-- <th>Description</th> -->
        <th>Picture</th>
        <th>Weight</th>
        <th>Dimensions</th>
        <th>Color</th>
        <th>Category</th>

        <th>Price</th>



        <th colspan="1"></th>
        <th>Quantity</th>
      </tr>
    </thead>

    <tbody>
      <% @ordered_items.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <!-- <td><%= product.description %></td> -->
          <% if product.picture_url.nil? || product.picture_url.include?("missing") %>
            <td><%= image_tag "missing.png" %></td>
          <% else %>
            <td><%= image_tag product.picture_url %></td>
          <% end %>
          <td><%= product.weight %></td>
          <td><%= product.dimensions %></td>
          <td><%= product.color %></td>
          <td><%= product.category %></td>
          <td><%= number_to_currency(product.price) %></td>

          <td><%= link_to 'View Product Details', product %></td>
          <td><input placeholder="2"></input></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<form>

  <div class=" text-center">
    <submit class="btn-success btn-lg"><%= link_to 'Checkout', cart_path, method: :checkout %></submit>
  </div>
  <br/>
</form>


<%else%>
  <h1 class="text-center ">No items in cart!</h1>
  <br/>
  <div class=" text-center">
    <button class="btn btn-lg"><%= link_to 'Browse our Products', products_path %></button>
  </div>
  <br><br><br><br><br/><br/><br/><br/><br/>
<%end%>
</div>
