

<br><br>
<div id="category"></div>
<br><br>
<div id="pricerange"></div>
<div id="needreorder">
    <br><br>
    <%if Product.need_reorder.first.nil?%>
    <center><h3>No Items On The Reorder List</h3></center>
    <%else%>
    <center><h3>Reorder List</h3></center>
    <table class="table borderless" align="center">
        <thead>
        <tr>
            <th>Product</th>
            <th>Inventory</th>
        </tr>
        </thead>

        <tbody>
        <% for product in Product.need_reorder.all %>
            <tr>
            <td><%= link_to product.name, product_path(product)%></td>
            <td><%= product.inventory %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%end%>
</div>

<script type="text/javascript">
    $(function () {
        $('#category').highcharts({
            chart: {
                type: 'column'
            },
            xAxis: {
                categories: ['Men\'s', 'Women\s', 'Cases']
            },
            title: {
                text: 'Wallet By Category'
            },
            series: [{
                showInLegend: false,
                data: [<%=Product.mens.all.size%>, <%=Product.womens.all.size%>,<%=Product.cases.all.size%>]
            }]
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#pricerange').highcharts({
            chart: {
                type: 'column'
            },
            xAxis: {
                categories: ['$0-$10', '$10-$20', '$20-$30','$30-$40','$40-$50',"$50-$60"]
            },
            title: {
                text: 'Wallets By Price'
            },
            series: [{
                showInLegend: false,
                data: [<%=Product.for_price(10).size%>, <%=Product.for_price(20).size%>,<%=Product.for_price(30).size%>,<%=Product.for_price(40).size%>,<%=Product.for_price(50).size%>,<%=Product.for_price(60).size%>]
            }]
        });
    });
</script>