<div onload="showSlides(1);">
  <div id="slideshow">
    <br>
    <div class="slideshow-container">
      <div class="mySlides  thumbnail text-center" style="display: block;">
        <div class="numbertext">1 / 3</div>
        <%= image_tag 'slide_2.jpg', class: "img-responsive"%>
        <div class="caption-home">
          <h3 class="text-center">Welcome to</h3>
          <%= image_tag 'big-skinny.png'%>
          <h3>The Big Skinny</h3>
        </div>
      </div>

      <div class="mySlides thumbnail text-center">
        <div class="numbertext">2 / 3</div>
        <%= image_tag 'slide_1.jpg', class: "img-responsive"%>
        <div class="caption-home">
          <h3 class="text-center">Welcome to</h3>
          <%= image_tag 'big-skinny.png'%>
          <h3>The Big Skinny</h3>
        </div>
      </div>

      <div class="mySlides thumbnail text-center">
        <div class="numbertext">3 / 3</div>
        <%= image_tag 'slide_3.jpg', class: "img-responsive"%>
        <div class="caption-home">
          <h3 class="text-center">Welcome to</h3>
          <%= image_tag 'big-skinny.png'%>
          <h3>The Big Skinny</h3>
        </div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


    <!-- <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div> -->

    </div>
</div>

<br/>
<div class="text-center col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
  <h2>Who are we?</h2>
  <h3>Big Skinny Wallets reduce your wallet size and weight by 50% without losing any functionality or number of pockets</h3>
</div>
<br/>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div class="col-sm-1 col-md-1 ">
  &nbsp
</div>
<div class="col-sm-4 col-md-4 option">
  heyheyheyheyheyheyhey
</div>
<div class="col-sm-2 col-md-2">
  &nbsp
</div>
<div class="col-sm-4 col-md-4 option">
  heyheyheyheyheyheyhey
</div>
<div class="col-sm-1 col-md-1">
  &nbsp
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div class="col-xs-0 col-sm-1 col-md-1 ">
  &nbsp
</div>
<div class="col-xs-12 col-sm-4 col-md-4 option">
  heyheyheyheyheyheyhey
</div>
<div class="col-xs-0 col-sm-2 col-md-2">
  &nbsp
</div>
<div class="col-xs-12 col-sm-4 col-md-4 option">
  heyheyheyheyheyheyhey
</div>
<div class="col-xs-0 col-sm-1 col-md-1">
  &nbsp
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
