<!DOCTYPE html>
<html>
  <head>
    <title>Big Skinny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="https://lib.store.yahoo.net/lib/yhst-94975210642937/kman.ico" />


  </head>


  <body>
    <%= render :partial => "partials/nav" %>

    <%= yield %>

    <footer>
      <div class="small-12 columns" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer>

  </body>
</html>
